*{
box-sizing: border-box;
}

body{
 margin: 0;
}

.header{
 background-color: rgba(184, 183, 183, 0.5);
 display: flex;
 justify-content: space-between;
 width: 100%;
 position: fixed;
 z-index: 99;
}

.opacity {
  background-color: rgb(243, 255, 254);
  transition: 1s linear;
}


.nav{
width: 100%;
}

.nav a{
 width: 100%;
 text-decoration: none;
}

.listShow{
  position: fixed;
  right: 0px;
  background-color: rgba(184, 183, 183, 0.5);
  z-index: 50;
  margin: 0;
  color: black;
  width: 100%;
  animation: fall-down 1s;
}

@keyframes fall-down {
  0% { transform: translateY(-100%); }
  100% { transform: translateY(0); }
}

.nav-desktop{
  align-items: center;
  display: none;
}

.nav li{
  border-bottom: 2px solid rgba(211, 211, 211,0.2);
  padding: 5px;
  list-style: none;
}

.nav-mobile{
  /*display: none;*/
  font-size: 1.1em;
  width: 100%;
  padding: 10px;
}

.header a:visited{
  color: black;
}

.burguerBtn {
  width: 40px;
  height: 30px;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  cursor: pointer;
}

.burguerBtn span{
  display: block;
  position: absolute;
  height: 16.5%;
  width: 100%;
  background: black;
  border-radius: 20%;
  transform: rotate(0deg);
  transition: .25s ease-in-out;
}

.burguerBtn span:nth-child(1){
  top: 0;
}
.burguerBtn span:nth-child(2){
  top: 41.75%;
}
.burguerBtn span:nth-child(3){
  bottom: 0;
}

.burguerBtn.open span:nth-child(1){
  top: 33%;
  transform: rotate(135deg);
}
.burguerBtn.open span:nth-child(2){
  opacity: 0;
  left: -60px;
}
.burguerBtn.open span:nth-child(3){
  bottom: 33%;
  transform: rotate(-135deg);
}

.main{
  background-size: cover;
  background-image: url("images/mountains.jpg");
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  width: 100%;
  height: 100vh;
}

h1{
  color: lightgrey;
  font-size: 1.8em;
}

.text{
 width: 100%;
 height: 100%;
}

@media (min-width: 735px){

header{
 background-color:rgba(77, 77, 77, 0.5);
}

.nav-desktop{
  display: flex;
  justify-content: space-between;
  margin-top: -1.5em;
  margin-left: 2.8em;
  width: 100%;
}

 .nav-mobile{
 display: none;
}

.nav li{
  border-bottom: none;
  list-style-type: none;
  width: 100%;
}

.burguerBtn{
 display: none;
}

}
